# Python
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
__pycache__/
instance/
.env

# macOS
.DS_Store

# PyCharm
.idea/

# Pygame
*.log
*.jpeg
*.bmp
*.tga
*.ppm
*.pgm
*.gif
*.wav
*.mp3
*.ogg
*.flac
__pycache__/
__pycache__/
__pycache__
.vscode/
